<!DOCTYPE html>
<html>
  <head>
    <title>SimplebudgetApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="margin:0; padding:0; list-style-type:none;">
    <div class="navbar-nav">
        <a class="navbar-brand" href='/'>
            <span class="mr-1"><%= image_tag("tranlogo.png", :alt => "", :style => "width: 35px; height: 35px;") %></span> Simple Budget</a>
    </div>
    <% if not current_user %>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link active navlink-custom" href="/posts" id="posts"><i class="fas fa-clipboard"></i> Community</a>
        <a href="/signup" class="nav-item nav-link active" id="signup"><i class="fas fa-user-plus"></i> Sign Up</a>
        <a href="/login" class="nav-item nav-link active" id="login"><i class="fas fa-sign-in-alt"></i> Log in</a>
    </div>
    <li class="search-custom"><form class="search-custom" role="search" action="/search" method="GET" style=" padding-left: 12px" >
        <input class="search-custom" type="search" name="search"/>
        <input class="search-custom btn" style="background-color: white;color: #343a40; padding: 2px 7px;" type="submit" value="Search Community!"/>    </form>
    </li>
    </div>
    <% else %>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link active" href="/posts"><i class="fas fa-clipboard"></i> Community</a>
        <a class="nav-item nav-link active navlink-custom" href="/posts/create" id="createPost" style="display:none"><i class="fas fa-paste"></i> Create Post</a>
        <a class="nav-item nav-link active" href="/profile"><i class="fas fa-user"></i> Your Profile</a>
        <% if not has_review %>
        <a class="nav-item nav-link active" href="/reviews/create"><i class="fas fa-star"></i> Leave a Review</a>
        <% else %>
        <a class="nav-item nav-link active" href='/reviews/<%= has_review.id%>'><i class="fas fa-star"></i> Edit Review</a>
        <% end %>
        <form action="/logout" method="POST">
           <button id="logoutBtn" type="submit" class="nav-item nav-link active navlink-custom btn btn-danger" style="background-color: transparent; border: none;"><i class="fas fa-sign-out-alt"></i> Logout</button>
        </form>
    </div>
    <li class="search-custom"><form class="search-custom" role="search" action="/search" method="GET" style=" padding-left: 12px" >
        <input class="search-custom" type="search" name="search"/>
        <input class="search-custom btn" style="background-color: white;color: #343a40; padding: 2px 7px;" type="submit" value="Search Community!"/>    </form>
    </li>
    </div>

<% end %>
</nav>
    <div id="container-main"></div>
    <%= yield %>
    <footer class="fixed-bottom" style="
   bottom: 0;
   width:100%;
   /*height:60px;*/
   background-color: #343a40;">
    <div class="container-fluid text-center  white">
        <div class="col-12">
            <a class="link-custom" style="color: #eae0c8;" href='/'>Home </a>
            <span>|</span>
            <a class="link-custom" style="color: #eae0c8;" href='/faq'>FAQ</a>
            <span>|</span>
            <a class="link-custom" style="color: #eae0c8;" href='/about-team'>The Team</a>
            <span>|</span>
            <a class="link-custom" style="color: #eae0c8;" href='/supincome'>Supplemental Income</a>
            <span>|</span>
            <a class="link-custom" style="color: #eae0c8;" href='/reviews'>Our Reviews</a>

        </div>
        <div class="col-12 footer-bottom text-center white">
            <em style="color: #eae0c8;" >SimpleBudget Copyright &copy; 2018</em>
        </div>
    </div>
  </footer>
  </body>
</html>
